<!DOCTYPE html>
<html lang="en">
<head>
  <title>Item Display</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/item-display.css" type="text/css" />

</head>

<body>

  <main class="container">

      <form id="item-display" method="GET" action="api/items/my-item/">
        <div class="image" >
          <img id="image" src="https://m.media-amazon.com/images/I/31P2TjeREkL._AC_.jpg" alt="Flute" width="100" height="100">
        </div>
        <div class="item-description">description</div>
        <div class="actions">
          <button type="submit">Favourite</button>
          <button type="submit">Message</button>
        </div>
      </form>


  </main>


</body>
</html>
