@use 'vars' as color;.image {

  border: black 3px solid;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 3rem;

}

.item-description {
  border: black 3px solid;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 3rem;

}

.actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: space-between;
  width: 40%;
}

.image#image {
  width:auto;
  height: auto;
}
.item-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .favourite-icon {
//   background-color: color.$main-yellow;
// }
.favourite-icon:hover {
  color: color.$main-orange;
}