@use 'vars/vars' as color;
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
}

.text-box {
  @include flexColumn();
  flex-direction: flex-start;
  align-items: flex-start;
  border: green 3px solid;
  width: 70%;
  h1: {
    margin: 0;
  }
}
.image {
  border: black 3px solid;
  text-align: center;
  justify-content: center;
  width: 30%;
  height: 250px;
  // margin: 2rem;

}

.item-description {
  border: black 3px solid;
  width: 100%;
  height: 100px;
  min-height: 100px;
  // margin-bottom: 2rem;

}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 1rem 0 auto;
}

#image {
  height: 100%;
  width: auto;
}
.item-display {
  // @include flexRow();
  border: red 3px solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
}
.favourite {
  width: fit-content;
}
.favourite-icon {
  border: none;
}
.favourite-icon:hover {
  color: color.$main-orange;
}
.message {
  width: fit-content;
  margin-right: 1rem;
}
.item-name {
  border: yellow 3px solid;
  font-size: 30px;
  margin: 5px 0 10px 0;
}
.item-price {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .item-display {
    // @include flexColumn();
    flex-direction: column !important;
  }
}
