* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

 }

 html {
  overflow-x: hidden;
 }

body {
font-family: 'Poppins', sans-serif;
overflow-x: hidden;
background-color: rgb(243, 241, 236);
position: relative;  
}

