
body {
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
  background: linear-gradient(to right, #00b09b, #96c93d);

}

.text-gray {
  color: #aaa;
}

.row {
  font-size: large;
}

.input-group {
  display:flex;
 justify-content: center;
 margin-bottom: 20px;
 padding-left: 540px;
}
